
.qrcode-container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

}

.verified-icon
{
    width: 15vh;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    color: white;
    font-weight: 800;
    margin-bottom: 1vh;
}

.information-text-2fa
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
    width: 25em;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4vh;
}

.landscape
{
    width:10vw;
    height:10vw;
    min-width: 100px;
	min-height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.landscape img
{
    cursor: pointer;
    height:100%;
}

.avatar-container
{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pen
{
    cursor: pointer;
    position: absolute;
    width: 3vh;
    margin-top: -70px;
    margin-left: -10px;
}

.chat-input
{

    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 4vh;
    font-weight: 700;
    display: flex;
    background: none;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 4vh;
}

.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vh;
    height: 5vh;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: white;
    font-weight: 700;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 3px 20px 3px 20px;
    border-radius: 25px;
    margin: 10px;
    transition: background-color 500ms;

}

.left-arrow{
    margin-right: 1.5vh;
    width: 2.25vh;
}

.login
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2vh;
    font-weight: 400;
    display: flex;
}

.error
{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 56, 56);
    font-size: 3vh;
    font-weight: 400;
    display: flex;
}

@media only screen and (max-width: 750px) {

	.button-container
{
	margin-top: 0;
    flex-direction: column;
}
}
