.nav-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon {
  font-size: 2em;
  margin: 5px;
  max-height: 8vh;
}

.nav-bar-button-container {
  height: 6vh;
  min-height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  background: rgb(29, 59, 141);
}

.nav-bar-button {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  transition: 200ms;
  background: none;
  border: none;
}

.mat-badge-content {
  font-size: 13px;
}
.nav-bar-button:hover {
  color: rgb(229, 142, 255);
  transition: 200ms;
}

.navbar-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 40vw;
}

.reject-notification {
  cursor: pointer;
  transition: 100ms;
  margin-right: 12px;
}

.reject-notification:hover {
  color: red;
  transition: 100ms;
}

.notifications-menu {
  background-color: #424242 !important;
  color: red;
}
